* {box-sizing:border-box}
.arse{
  background-color:#3c415c;
  color:  #6e7c7c;
  height: 100px;
  margin-top: 60px;
  padding: 0;
  text-align: center;

}
.copy{
  position: relative;
  top:50px;
}

img{
  border-radius: 5%;
  width: 54%;
}

.mySlides {
  margin-top: 2%;
  margin-bottom: 0;
  position: relative;
  display: none;
  align-items: center;
  display: inline-block;
  margin-left: 30.5%;

}
h2{

  padding-left: 10%;
  margin-bottom: 0;
  margin-top: 4vw;
  color: darkslategray;
}
body{
  /*background-image: url("images/bg.jpg");*/
  background-color: whitesmoke;
  font-family: 'Nanum Myeongjo', serif;
}

.back, .next {
  display: inline-block;
  cursor: pointer;
  position: relative;
  top: -245px;
  width: 3%;
  height : 6%;
  padding: 0.5% 1% 1% 1%;
  color: darkslategray;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 50%;

}

.next {
  left:70%;
}
.back{
  left: 20%;
}


/*.back:hover, .next:hover {
  background-color: darkslategray;
  color: whitesmoke;
}
*/

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}


.numbertext {
  color: #7D8C91;
  font-size: 100%;
  padding: 2% 2%;
  position: absolute;
  top: 0;
}


.dot {
  cursor: pointer;
  height: 8px;
  width: 8px;
  margin: 0 2px;
  background-color: slategray;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: darkslategray;
}
.dotcon {
margin: 0;
position: relative;
top: -50px;

}
@media only screen and (max-width:896px){
.back{
  top: -290px;
  left: 100px;
}
.next{
  top: -290px;
  left: 867px;
}
h2{
  display: block;
  font-size: 90px;
  margin-top: 100px;
  width: 1000px;
}
.numbertext{
  left: 230px;
}
.mySlides{
  display: inline-block;
  width: 1000px;
  text-align: center;
  margin-left: 0;
  margin-top: 300px;
}
.slideshow-container{
  margin-top: 200px;
}
.dot{
  width: 20px;
  height: 20px;
  margin : 300px 20px 0 0;
}
.arse{
  width: 1000px;
  height: 300px;
  margin-top: 120px;
}
.copy{
  top: 150px;
}
.dotcon{
  width: 1000px;
  top: -250px
}
}


/*.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}*/
